*{box-sizing: border-box;}
body{
  font-family: 'Oswald', sans-serif;
  line-height: 1.5em;
  background-color: black;
  color: white;
  margin: 0 auto;
}

.elh2{
  font-size: 2rem;
  position: relative;
  text-align: center;
  top: 13rem;
  font-weight: 700;
  color: white;
}

.uk-comment-primary {
  padding: 35px;
  background-color: #484848 !important;
  width: 74%;
  position: relative;
  top: 15rem;
  left: 12rem;
  margin-bottom: 25px;
}

/*tablet*/
@media (min-width:451px) and (max-width: 750px) {
  legend{
  font-size: 20px;
  }

  }

}
/*mobile*/
@media (min-width:100px) and (max-width:450px){
legend{
  font-size: 15px;
}
}
