*{box-sizing: border-box;}*

.uk-margin{
    height: 30rem !important;
    background-color: black;
}
.uk-search-default {
    position: relative;
    left: 30%;
    top: 60%;
}

.uk-search-default .uk-search-icon:not(.uk-search-icon-flip)~.uk-search-input {
    padding-left: 40px;
    width: 600px;
    height: 50px;
}
